* {
    font-family: JetBrains Mono Nerd Font;
    font-size: 13px;
}

#waybar {
    background-color: #5175c1;
    color: #d6d6d6; 
}

#workspaces button {
    background-color: #5175c1;
    color: #d6d6d6;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;

    border-radius: 0px;
}

#workspaces button.focused {
    background-color: #7eb4e0;
    color: #ffffff;
    border: 0px;
}

#tags button {
    background-color: #5175c1;
    color: #d6d6d6;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;

    border-radius: 0px;
}

#tags button.focused {
    background-color: #7eb4e0;
    color: #ffffff;
    border: 0px;
}

#battery {
    padding-left: 4px;
    padding-right: 4px;
}

#backlight {
    padding-left: 4px;
    padding-right: 4px;
}
